language: rust

env:
    global:
        - secure: iIyvsi4dPz6kr0KN5eNu8OSTvWuCJ99FXaR9kDl4hxvI22e2wJPiYeqSlGkbdu5rBh+93HDf37FRplHI8s/Y/EREFxBWsQOBaj9HP/1YD7VyL0scF6My/p92n+f8hQ9IZIlblPN6q/sHZKwwnyMBBsncXtl4YlncEpa4MIv5gOA=

script:
    - rustc --version
    - cargo --version
    - cargo build --verbose
    - cargo build --verbose --features arbitrary
    - cargo test --verbose
    - cargo bench --verbose
    - cargo doc --verbose

after_script:
    - curl http://www.rust-ci.org/artifacts/put?t=$RUSTCI_TOKEN | sh
