[package]
name = "acacia"
version = "0.0.4"
authors = ["Eduard Bopp <eduard.bopp@aepsil0n.de>"]
description = "A spatial partitioning and tree library."
documentation = "http://www.rust-ci.org/aepsil0n/acacia/doc/acacia/"
homepage = "https://github.com/aepsil0n/acacia"
repository = "https://github.com/aepsil0n/acacia"
readme = "README.md"
keywords = ["algorithms", "math", "tree", "spatial"]
license = "GPL-3.0+"

[profile.test]
debug = false

[features]
arbitrary = ["nalgebra/arbitrary", "quickcheck"]

[dependencies]
nalgebra = "*"
itertools = "*"
rand = "*"

[dependencies.quickcheck]
optional = true

[dev-dependencies]
quickcheck = "*"

[dev-dependencies.nalgebra]
features = ["arbitrary"]
